<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {% extends "base_top_only.html" %}
   {% block content %}


<div class="box box-default">

          <div class="box-body">


        <h1 style="color:#333">关于我们：</h1>

      <p class="lead">
          <p><strong><b>四川奥诚科技有限责任公司</b></strong>（以下简称“奥诚公司” ）是专注于通信技术服务、应用软件开发和计算机信息系统集成的高科技企业。</P>

    <p>奥诚公司本着“以一流的技术、规范的管理、负责任的态度，提供最优质的服务”的企业精神，和“诚信、坚韧、精进、共享”的核心价值观，致力于通讯运营商的运营数据管理、用户数据稽核、信息安全服务及其相关技术支持和系统解决方案等业务。 奥诚公司依托多年来对移动通信技术的理解与实际经验积累，已拥有十余项具有自主知识产权、专利技术的软件产品 。</p>
    <p>奥诚公司的业务立足四川，扩展至全国多个省份及海外市场。经过多年的努力，公司与中国移动、中国电信、华为、中兴、诺基亚西门子、爱立信、阿尔卡特、IBM、ORACLE、SYMANTEC、EMC、STONESOFT等通信运营商和知名厂商开展了广泛合作。</p>
<br>
          <p style="color:#fb4b00">奥诚科技移动应用安全检测系统是通过对源代码中容易产生漏洞的代码进行代码特征进行比对，从源码上避免容易产生漏洞，例如AndroidManifest配置错误、源代码中对已知可产生漏洞的API函数的调用等。</p>
<br>
      <p style="color:green">开发者: <a href="http://www.scaocheng.com">四川奥诚科技有限责任公司</a></p>
          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
</html>
