<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>评测系统</title>
<link href="../static/css/pcxt.css" rel="stylesheet" type="text/css">
<script src="sc_edge.js"></script>
<script src="sc_edgeActions.js"></script>
<script src="dh_edge.js"></script>
<script src="dh_edgeActions.js"></script>
<script src="js/edge.6.0.0.min.js"></script>
<script>
AdobeEdge.loadComposition('dh', 'dh01', {
}, {dom: [ ]}, {dom: [ ]});
 AdobeEdge.loadComposition('sc', 'sc01', {
}, {dom: [ ]}, {dom: [ ]});
</script>
</head>

<body>
<div class="apk_header"><div class="apk_logo"></div></div>
<div class="apk_content">
<div class="apk_dq">
<div class="sc01">
<div class="dh01">
<div class="apk_main">
<h4>专注移动应用测试　给您的应用提供全面安全检测</h4>
<!--上传区域-->
<div class="apk_sc">
<div class="scanning"></div>
<h5>文件扫描中…</h5>
</div>
<a href="#" class="apk_scan">上传文件</a>
</div>
</div>
</div>
</div>
<!--导航-->
<div class="apk_sl">
<div class="apk_sl_img"></div>
<ul>
<li style="color:#3cc0f0">上传检测文件</li>
<li>扫描安全漏洞</li>
<li>获得检测报告</li>
</ul>
</div>
<!--MD5-->
<div class="apk_ip">
<input type="text" value="搜索MD5 " class="apk_text">
<p>2016&nbsp;奥诚科技信息安全部&nbsp;&nbsp;&nbsp;All&nbsp;Rirghts&nbsp;Reserved.</p>
</div>

</div>
</body>
</html>
