<html>
<meta charset="utf-8">
  {% extends "base_top_only_root.html" %}
   {% block content %}


<div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-rocket"></i> 所有用户</h3>

          </div>

          <div class="box-body">
              <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>删除用户</th>
                            </tr>
                        </thead>
                    <tbody>
                      {% for e in users %}
                      <tr>
                          {% if e.username != 'root' %}
                        <td>{{ e.username }}</td>
                        <td><a href='../delUser/?user={{ e.username }}'></i>删除</a></td>
                          {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
               </div>
          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
</html>
