
  {% extends "base_top_only.html" %}
   {% block content %}


<div class="box box-default">

          <div class="box-body">

 <h1>Zipped Source Code Instruction</h1>
          <p class="lead">奥诚科技移动应用安全检测系统支持Eclipse工程压缩文件和Android Studio工程压缩文件.</p>


      <p>
        <strong>Eclipse Project:</strong> AndroidManifest.xml文件和'src'必须存在根目录下.
      </p>
      <p>
        <strong> Android Studio Project:</strong> AndroidManifest.xml文件存在'app/src/main/AndroidManifest.xml'、目录'app/src/main/java/'必须存在.
      </p>

          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
